    header {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    

 p{
            color:blue;
             font-size: 19px;         
          }
          r{
          color:red;
             font-size: 19px;  
          }
